/**
 * Main breakpoint
 * Using: @media (--breakpoint-name) { ... }
 */
@custom-media --xs-only (max-width: 767px);
@custom-media --sm-up (min-width: 768px);
@custom-media --sm-only (min-width: 768px) and (max-width: 1023px);
@custom-media --md-down (max-width: 1023px);
@custom-media --md-up (min-width: 1024px);
@custom-media --md-only (min-width: 1024px) and (max-width: 1199px);
@custom-media --lg-up (min-width: 1200px);
@custom-media --lg-only (min-width: 1200px) and (max-width: 1439px);
@custom-media --xlg-up (min-width: 1440px);
@custom-media --xlg-only (min-width: 1440px) and (max-width: 1599px);
@custom-media --xxlg-up (min-width: 1600px);
