.FooterNav {
  @include list-unstyled;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $half-gutter;
  margin-left: $half-gutter;

  @media (--md-up) {
    justify-content: flex-start;
    margin-right: -40px;
    margin-left: -40px;
  }

  &-item {
    @include gutters;

    @media (--md-up) {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &-link {
    color: $color-gray-3;
    font-size: 15px;
    line-height: (20 / 15);
  }
}
