.widget_socials {
  @media (--md-up) {
    order: 3;
  }
}

.Socials {
  &-wrapper {
    @include list-unstyled;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -(7.5rem / 16);
    margin-left: -(7.5rem / 16);

    @media (--md-up) {
      justify-content: flex-end;
    }
  }

  &-item {
    padding-right: 20px;
    padding-left: 20px;

    @media (--sm-up) {
      padding-right: (7.5rem / 16);
      padding-left: (7.5rem / 16);
    }
  }

  &-itemLink {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: $color-gray-4;
    font-size: 14px;
    line-height: 32px;
    border: 1px $color-gray-5 solid;
    border-radius: 4px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      .Socials-item.-facebook & {
        color: #fff;
        background-color: #4267b2;
        border-color: #4267b2;
      }

      .Socials-item.-dribbble & {
        color: #fff;
        background-color: #ea4c89;
        border-color: #ea4c89;
      }

      .Socials-item.-twitter & {
        color: #fff;
        background-color: #1da1f2;
        border-color: #1da1f2;
      }
    }


    body.blog &,
    body.single &,
    body.archive &,
    body.search & {
      border-color: transparentize($color-gray-7, .8);
    }
  }
}
