html {
  font-size: 100%;
}

body {
  font-family: $font-body;
  font-weight: normal;
  line-height: 1.5;
}

input,
select,
textarea {
  font-family: $font-body;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;

  &.alignnone {
    margin: 5px 0 25px 0;
  }

  &.aligncenter {
    display: block;
    margin: 5px auto 25px auto;
  }

  &.alignright {
    display: block;
    margin: 5px auto 25px auto;

    @media (--sm-up) {
      float: right;
      margin: 5px 0 25px 20px;
    }
  }

  &.alignleft {
    display: block;
    margin: 5px auto 25px auto;

    @media (--sm-up) {
      float: left;
      margin: 5px 20px 25px 0;
    }
  }
}
