.Header {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (--sm-up) {
    padding-bottom: 25px;
  }

  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  }

  body:not(.home):not(.blog):not(.single):not(.archive):not(.search) & {
    background-color: $color-black-1;
  }

  body.error404 &,
  body.page-template-thank-you & {
    @media (--sm-up) {
      padding-top: 55px;
    }
  }

  &-wrapper {
    @extend %DefaultContainer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    body:not(.blog):not(.single):not(.archive):not(.search) & {
      align-items: flex-end;

      @media (--sm-up) {
        align-items: center;
      }
    }

    body.error404 &,
    body.page-template-thank-you & {
      justify-content: center;
    }
  }

  &-left {
    body.blog &,
    body.single &,
    body.archive &,
    body.search & {
      display: flex;
      align-items: flex-end;
    }
  }

  &-right {
    body.home & {
      @media (--md-up) {
        width: 100%;
        max-width: 375px;
      }
    }

    body.blog &,
    body.single &,
    body.archive &,
    body.search & {
      display: flex;
      align-items: center;
    }
  }

  &-logo {
    font-size: 0;

    a:not(.Header-logoMobile) {
      display: inline-block;

      body.blog &,
      body.single &,
      body.archive &,
      body.search & {
        display: none;

        @media (--sm-up) {
          display: inline-block;
        }
      }

      img {
        width: 112px;
        height: 30px;
      }
    }
  }

  &-logoMobile {
    display: inline-block;

    @media (--sm-up) {
      display: none;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  &-blog {
    margin-left: 10px;
    border-left: 1px solid #DADCE0;

    @media (--sm-up) {
      margin-right: 15px;
    }
  }

  &-subscribe {
    width: 90px;
    height: 44px;
    margin-left: 10px;
    background-color: $color-orange;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: (.9rem / 16);
    border-radius: 6px;
    transition: $transition-buttons;

    @media (--sm-up) {
      display: block;
      width: 115px;
      margin-left: 40px;
    }

    &:hover,
    &:focus {
      background-color: $color-orange-1;
    }
  }
}
