.Main {
  body.home & {
    margin-top: -$header-height-sm;

    @media (--sm-up) {
      margin-top: -$header-height-md;
    }
  }

  body.error404 &,
  body.page-template-thank-you &,
  body.page-template-contact-us &,
  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    flex: 1 1 0%;
  }

  body.error404 &,
  body.page-template-thank-you & {
    background-color: $color-black-1;
  }
}
