.MainNav {
  @include list-unstyled;

  div:not(.Header-blog) > & {
    margin-right: -10px;
    margin-left: -10px;

    @media (--sm-up) {
      @include offset;
    }
  }

  display: flex;
  align-items: center;

  &-item {
    padding-right: 10px;
    padding-left: 10px;

    @media (--sm-up) {
      @include gutters;
    }

    &.-blog {
      body.blog &,
      body.single &,
      body.archive &,
      body.search & {
        display: none;
      }
    }
  }

  &-link {
    color: $color-gray-3;
    font-size: 15px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: #fff;
    }

    body.blog &,
    body.single &,
    body.archive &,
    body.search & {
      color: $color-black-2;

      &:hover,
      &:focus {
        color: #FF9329;
      }
    }

    span {
      display: flex;
      align-items: center;

      i {
        margin-right: 5px;
      }
    }
  }
}
