.widget_privacyterms {
  @media (--md-up) {
    order: 1;
  }

  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    @media (--md-up) {
      order: 2;
    }
  }
}

.PrivacyTerms {
  @include list-unstyled;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;

  @media (--md-up) {
    justify-content: flex-start;
  }

  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    @media (--md-up) {
      justify-content: flex-end;
    }
  }

  &-item {
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1;

    &:not(:last-child) {
      border-right: 1px $color-gray-6 solid;

      body.blog &,
      body.single &,
      body.archive &,
      body.search & {
        border-color: transparentize($color-gray-7, .8);
      }
    }
  }

  &-link {
    color: $color-gray-1;
    font-size: 14px;
    font-weight: 500;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: $color-black-2;
    }
  }
}
