.widget_subscribe {
  .widget-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: (33 / 24);

    @media (--sm-up) {
      font-size: 34px;
      line-height: (46 / 34);
    }
  }
}

.Subscribe {
  text-align: center;

  &-body {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media (--sm-up) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 25px;
    }

    input {
      height: 52px;
      border: none;
    }

    input[type="email"] {
      max-width: 100%;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      color: $color-black-2;
      font-size: 15px;
      border-radius: 6px;
      outline: none;

      @media (--sm-up) {
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &::placeholder {
        color: $color-gray-1;
      }

      &.wpcf7-not-valid {
        border: 2px $color-red solid;
      }

      &:focus {
        border-color: #fff;
      }
    }

    input[type="submit"] {
      padding-right: 30px;
      padding-left: 30px;
      background-color: $color-orange;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: (.9rem / 16);
      border-radius: 6px;
      outline: none;
      cursor: pointer;
      transition: $transition-buttons;

      @media (--sm-up) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover,
      &:focus {
        background-color: $color-orange-1;
        outline: none;
      }
    }

    .ajax-loader {
      display: none !important;
    }
  }

  &-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    .wpcf7-form-control-wrap {
      font-size: 0;
    }

    .wpcf7-list-item {
      margin: 0;
    }

    label {
      display: inline-block;
    }

    input[type="checkbox"] {
      display: none;
    }

    .wpcf7-list-item-label {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      background-color: $color-orange;
      border-radius: 2px;
      cursor: pointer;

      @at-root .wpcf7-not-valid .wpcf7-list-item-label {
        background-color: $color-red;
      }

      @at-root input[type="checkbox"]:checked + .wpcf7-list-item-label {
        background-color: $color-orange;
      }

      @at-root input[type="checkbox"]:checked + .wpcf7-list-item-label::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath style='fill: %23fff;' d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z'/%3E%3C/svg%3E");
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-checkboxText {
    margin-left: 5px;
    color: #fff;
    font-size: 14px;

    a {
      color: #fff;
    }
  }

  div.wpcf7-response-output {
    display: none !important;
  }

  .Form-body {
    justify-content: center;
  }
}
