html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.Page {
  body.error404 &,
  body.page-template-thank-you &,
  body.page-template-contact-us &,
  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    _:-ms-input-placeholder, :root & {
      display: block;
      min-height: 0;
    }
  }
}

.inv-recaptcha-holder {
  opacity: 0;
  height: 0;
  position: relative;
  z-index: -1;
}
