%DefaultContainer {
  width: 100%;
  max-width: $default-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $half-gutter;
  padding-left: $half-gutter;

  body.home & {
    @media (--sm-only) {
      padding-right: 35px;
      padding-left: 35px;
    }
  }
}

%WideContainer {
  width: 100%;
  max-width: $wide-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $half-gutter;
  padding-left: $half-gutter;

  body.home & {
    @media (--sm-only) {
      padding-right: 35px;
      padding-left: 35px;
    }
  }
}

@mixin list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin admin-bar-fix($offset: 0, $property: top, $parent: null) {
  $narrow-offset: 46px;
  $wide-offset: 32px;

  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }

  #{$parent}.admin-bar & {
    #{$property}: $narrow-offset;

    @media screen and (min-width: 783px) {
      #{$property}: $wide-offset;
    }
  }
}

@mixin gutters() {
  padding-right: $half-gutter;
  padding-left: $half-gutter;
}

@mixin noGutters() {
  padding-right: 0;
  padding-left: 0;
}

@mixin offset() {
  margin-right: -$half-gutter;
  margin-left: -$half-gutter;
}
