// Fonts
$avenir: 'Avenir Next', sans-serif;

$font-body: $avenir;
$font-heading: $avenir;

// Colors
$color-black-1: #202126;
$color-black-2: #131313;
$color-white-1: #F5F5F6;
$color-white-2: #FAFAFA;
$color-white-3: #F7F8FA;
$color-white-4: #EBEDF0;
$color-gray-1: #777;
$color-gray-2: #9A9A9A;
$color-gray-3: #BCBCBE;
$color-gray-4: #AAABAF;
$color-gray-5: #DADCE0;
$color-gray-6: #DEDEDE;
$color-gray-7: #979797;
$color-orange: #FF9329;
$color-orange-1: #E68324;
$color-red: #FE4E4A;
$color-blue: #6487FF;
$color-blue-1: #1DA1F1;
$color-blue-2: #4267B2;
$color-pink: #E94C89;

// Grid
$default-width: 1200px;
$wide-width: 1330px;
$gutter: 30px;
$half-gutter: $gutter / 2;

// Stuff
$header-height-sm: 60px;
$header-height-md: 70px;

$transition-buttons: all ease-in-out .2s;
