.Cookies {
  display: none;
  width: 100%;
  max-width: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 0;
  box-shadow: 0 8px 40px 0 rgba(50, 51, 94, 0.1);

  &.-visible {
    display: block;
  }

  @media (--sm-up) {
    width: 570px;
    bottom: 15px;
    border-radius: 6px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-text {
    padding-right: 15px;
    color: $color-gray-1;
    font-size: 13px;
  }

  &-button {
    flex: 0 0 auto;
    padding: 5px 20px;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border-radius: 6px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      background-color: $color-orange;
    }
  }
}
