.Footer {
  position: relative;

  &-header {
    padding: 35px;
    background-color: $color-black-1;

    @media (--sm-up) {
      padding-top: 70px;
      padding-bottom: 50px;
    }
  }

  &-wrapper {
    @extend %DefaultContainer;

    padding-top: 30px;

    @media (--md-up) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }

    .widget {
      margin-bottom: 30px;

      @media (--md-up) {
        flex: 0 1 300px;
        max-width: 300px;
        margin-bottom: 20px;
      }
    }
  }

  .widget_text {
    @media (--md-up) {
      order: 2;
    }
  }

  .textwidget {
    text-align: center;
    color: $color-gray-2;
    font-size: 14px;

    span {
      @media (--xs-only) {
        display: block;
      }
    }
  }
}
