.Main {
  body.single-help_center &,
  body.post-type-archive-help_center & {
    position: relative;
  }

  body.home & {
    margin-top: -$header-height-sm;

    @media (--sm-up) {
      margin-top: -$header-height-md;
    }
  }

  body.error404 &,
  body.page-template-thank-you &,
  body.page-template-contact-us &,
  body.blog &,
  body.single &,
  body.archive &,
  body.search & {
    flex: 1 1 0%;
  }

  body.error404 &,
  body.page-template-thank-you & {
    background-color: $color-black-1;
  }

  &-wrapper {
    @media (--sm-up) {
      display: flex;
    }
  }

  &-sidebar {
    @include gutters;

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #F1F1F1;

    &::before {
      width: 35%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #FAFAFA;
      border-right: 1px #E7E9ED solid;
      border-bottom: 1px solid #F1F1F1;

      @media (--sm-up) {
        content: '';
      }

      @media (--md-up) {
        width: 30%;
      }

      @media (--lg-up) {
        width: 25%;
      }
    }

    body.single-help_center & {
      display: none;
    }

    @media (--sm-up) {
      flex-basis: 35%;
      max-width: 35%;
      padding-top: 40px;
      padding-right: 30px;
      padding-left: 30px;
      background-color: transparent;
      border-color: transparent;

      body.single-help_center & {
        display: block;
      }
    }

    @media (--md-up) {
      flex-basis: 30%;
      max-width: 30%;
      padding-right: 65px;
      padding-left: 65px;
    }

    @media (--lg-up) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  &-body {
    @include gutters;

    padding-top: 15px;
    padding-bottom: 30px;

    @media (--sm-up) {
      flex-basis: 65%;
      max-width: 65%;
      padding-top: 35px;
      padding-right: 30px;
      padding-bottom: 70px;
      padding-left: 30px;
    }

    @media (--md-up) {
      flex-basis: 70%;
      max-width: 70%;
      padding-right: 90px;
      padding-left: 90px;
    }

    @media (--lg-up) {
      flex-basis: 75%;
      max-width: 75%;
    }
  }
}
