.SearchForm {
  display: none;
  position: relative;
  margin-right: 30px;

  body.single-help_center &,
  body.post-type-archive-help_center & {
    margin-right: 0;
  }

  @media (--sm-up) {
    display: block;
  }

  &-submit {
    display: inline-block;
    width: 30px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 38px;

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966'%3E%3Cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");
      display: inline-block;
      width: 14px;
      height: 14px;
    }
  }

  &-input {
    width: 240px;
    height: 35px;
    padding-left: 35px;
    background-color: $color-white-3;
    color: $color-black-2;
    font-size: 14px;
    border-right: 4px;
    border: none;
    outline: none;

    &::placeholder {
      color: $color-gray-1;
    }
  }
}
