.Sidebar {
  &-title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: $color-black-2;
    font-size: 24px;
    font-weight: 700;
    line-height: (33 / 24);
    letter-spacing: 0.42px;

    @media (--sm-up) {
      display: none;
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 45px;
  }

  &-itemHeading {
    display: block;
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 18px;
    font-weight: 700;
  }

  &-list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-listItem:not(:last-child) {
    margin-bottom: 20px;
  }

  &-listItemLink {
    display: flex;
    align-items: flex-start;
    color: $color-gray-1;
    font-size: 15px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: $color-orange-2;
    }

    .Sidebar-listItem.-active & {
      color: $color-orange-2;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6px' height='9px' viewBox='0 0 6 9' version='1.1'%3E%3Ctitle%3ETriangle%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='help-center---main---mobile' transform='translate(-15.000000, -193.000000)' fill='%23FF8D00'%3E%3Cg id='menu' transform='translate(15.000000, 139.000000)'%3E%3Cg id='posts'%3E%3Cpolygon id='Triangle' transform='translate(3.000000, 58.500000) rotate(-270.000000) translate(-3.000000, -58.500000) ' points='3 56 7 61 -1 61'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      display: inline-block;
      font-size: 0;
      margin-right: 10px;
      padding-top: 5px;
    }
  }
}
