.TopBtn {
  @extend %DefaultContainer;

  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &-wrapper {
    text-align: right;
  }

  &-button {
    width: 60px;
    height: 60px;
    background-color: $color-white-4;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: (1.5rem / 16);
    border-radius: 50%;

    &::before {
      content: $icon-arrow-up;
      display: inline-block;
      font-family: $icomoon-font-family;
    }

    span {
      display: block;
      width: 100%;
      padding-left: 4px;
      line-height: 1;
    }
  }
}
