.Article {
  &-back {
    margin-bottom: 20px;

    @media (--sm-up) {
      display: none;
    }
  }

  &-backBtn {
    color: $color-gray-1;
    font-size: 16px;

    &::before {
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve' fill='%23777'%3E%3Cg%3E%3Cg%3E%3Cpath d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }

  &-title {
    margin-bottom: 20px;
    text-align: center;
    color: $color-black-2;
    font-size: 24px;
    line-height: (33 / 24);

    @media (--md-up) {
      margin-bottom: 35px;
    }
  }

  &-tabs {
    @include offset;

    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px #E7E9ED solid;

    @media (--md-up) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &-tabsItem {
    padding-right: (2.5rem / 16);
    padding-left: (2.5rem / 16);

    @media (--md-up) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &-tabsItemBtn {
    height: 35px;
    padding-right: 15px;
    padding-left: 15px;
    color: $color-black-2;
    font-size: 15px;
    font-weight: 500;
    transition: $transition-buttons;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    @media (--md-up) {
      padding-right: 20px;
      padding-left: 20px;
    }

    .Article-tabsItem.-active & {
      background-color: #EFF2FF;
      color: $color-blue;
      font-weight: 600;
    }

    &:hover,
    &:focus {
      color: $color-blue;
    }
  }

  &-item {
    display: none;

    &.-active {
      display: block;
    }
  }
}
