body.single-post .Content {
  &-wrapper {
    @include gutters;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    color: $color-black-2;
    font-size: 18px;
    line-height: (30 / 18);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 25px;
      color: $color-black-2;
    }

    h2 {
      font-size: 22px;
      line-height: (33 / 24);

      @media (--sm-up) {
        font-size: 24px;
      }
    }

    p {
      margin-bottom: 25px;
    }

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 25px;
      padding-left: 20px;
    }

    li {
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: #6787ff;
    }
  }
}
