body.single-help_center .Content {
  &-wrapper {
    max-width: 890px;
    margin-right: auto;
    margin-left: auto;
    color: $color-black-2;
    font-size: 15px;
    line-height: (30 / 15);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 15px;
      color: $color-black-2;
      font-size: 18px;
      line-height: 1;
    }

    p {
      margin-bottom: 15px;
    }

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 25px;
      padding-left: 20px;
    }

    li {
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: #6787ff;
    }

    strong {
      font-weight: 700;
    }
  }

  &-arrow {
    &::before {
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='10px' viewBox='0 0 20 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBF8173B4-7FDE-48C6-8A70-A8229249C228%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Embed-Code-Figma' transform='translate(-495.000000, -927.000000)' fill='%23979797' fill-rule='nonzero'%3E%3Cg id='content' transform='translate(445.000000, 92.000000)'%3E%3Cg id='Group' transform='translate(0.000000, 765.000000)'%3E%3Cpath id='Line-5' d='M61,70.5 L70,75 L61,79.5 L61,75.5 L50,75.5 L50,74.5 L61,74.5 L61,70.5 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}
