body:not(.single) .Content {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (--sm-up) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-wrapper {
    @include gutters;

    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  &-title {
    margin-bottom: 20px;
    color: $color-black-2;
    font-size: 42px;
    letter-spacing: (.73rem / 16);
    line-height: (50 / 42);
  }

  &-date {
    display: block;
    margin-bottom: 30px;
    color: $color-black-2;
    font-size: 18px;
    font-weight: 500;
    line-height: (25 / 18);
  }

  &-body {
    color: $color-gray-1;
    line-height: (25 / 18);

    @media (--sm-up) {
      font-size: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      margin-bottom: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-black-2;
      font-weight: 500;
    }

    h4 {
      font-size: 18px;
      line-height: (25 / 18);
    }

    ul,
    ol {
      padding-left: 20px;
    }

    li:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      color: #6787ff;
    }
  }
}
