.ContactUs {
  padding-top: 30px;
  padding-bottom: 50px;

  @media (--sm-up) {
    padding-top: 35px;
    padding-bottom: 100px;
  }

  body.post-type-archive-help_center & {
    padding-top: 15px;

    @media (--md-up) {
      padding-top: 5px;
    }
  }

  &-wrapper {
    @extend %DefaultContainer;

    body.post-type-archive-help_center & {
      @include noGutters;
    }
  }

  &-title {
    margin-bottom: 15px;
    text-align: center;
    color: $color-black-2;
    font-size: 26px;
    line-height: (36 / 26);
    letter-spacing: (.45rem / 16);

    @media (--sm-up) {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: (50 / 40);
      letter-spacing: (.7rem / 16);
    }

    body.post-type-archive-help_center & {
      display: none;
      font-size: 36px;
      letter-spacing: 0.63px;

      @media (--sm-up) {
        display: block;
      }
    }
  }

  &-text {
    max-width: 720px;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    text-align: center;
    color: $color-gray-1;
    line-height: (22 / 16);

    @media (--sm-up) {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 25px;
    }

    body.post-type-archive-help_center & {
      max-width: 570px;
      color: $color-black-2;
      font-size: 16px;
    }
  }

  &-body {
    max-width: 570px;
    margin-right: auto;
    margin-left: auto;

    @media (--sm-up) {
      padding: 40px 50px;
      border-radius: 10px;
      box-shadow: 0 8px 40px 0 rgba(50, 51, 94, .1);
    }
  }

  &-form {
    .ContactUs.-thankYou & {
      display: none;
    }

    label {
      color: $color-black-2;
      font-size: 16px;
      font-weight: 500;
      line-height: (22 / 16);
    }

    input[type="email"],
    input[type="text"] {
      width: 100%;
      height: 52px;
      margin-top: 5px;
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $color-white-2;
      color: $color-black-2;
      font-size: 15px;
      border: 1px solid $color-gray-5;
      border-radius: 4px;
      -webkit-appearance: none;

      &.wpcf7-not-valid {
        margin-bottom: 5px;
        border-color: $color-red;
      }

      &:focus {
        border: 1px $color-blue solid;
        outline: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px $color-white-2 inset !important;
        -webkit-text-fill-color: $color-black-2 !important;
      }
    }

    textarea {
      width: 100%;
      height: 110px;
      margin-top: 5px;
      padding: 15px;
      background-color: $color-white-2;
      color: $color-black-2;
      font-size: 15px;
      border: 1px solid $color-gray-5;
      border-radius: 4px;
      resize: none;
      -webkit-appearance: none;

      &.wpcf7-not-valid {
        border-color: $color-red;
      }

      &:focus {
        border: 1px $color-blue solid;
        outline: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: $color-black-2 !important;
      }
    }

    input[type="submit"] {
      display: block;
      height: 52px;
      width: 200px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
      background-color: $color-orange;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: (.9rem / 16);
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: $transition-buttons;
      transition-property: background-color;

      &:hover,
      &:focus {
        background-color: lighten($color-orange, 5%);
        outline: none;
      }

      &.-loading {
        padding-left: 35px;
      }
    }

    .wpcf7-form p {
      position: relative;
    }

    div.wpcf7-response-output {
      display: none !important;
    }

    div.wpcf7 .ajax-loader {
      position: absolute;
      left: 30%;
      top: 35%;
      transform: translate(-50%, -50%);
      background-image: url(https://www.uigiants.com/wp-content/themes/uigiants/loading.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      animation: rotating .5s linear infinite;

      @media (--sm-up) {
        left: 35%;
      }
    }
  }

  &-thankYou {
    display: none;
    text-align: center !important;

    .ContactUs.-thankYou & {
      display: block;
    }
  }

  &-thankYouTitle {
    display: block;
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 22px;
    font-weight: 600;
    line-height: (30 / 22);
  }

  &-thankYouText {
    margin-bottom: 35px;
    color: $color-gray-1;
    font-size: 18px;
    line-height: 25px;
  }

  &-socials {
    @include list-unstyled;
  }

  &-socialsItem {
    margin-bottom: 30px;
  }

  &-socialsLink {
    display: block;
    height: 68px;
    font-size: 18px;
    line-height: 66px;
    border: 1px solid $color-gray-5;
    border-radius: 4px;

    &::before {
      display: inline-block;
      margin-right: 10px;
      font-family: $icomoon-font-family;
    }

    &.-dribbble {
      color: $color-pink;

      &::before {
        content: $icon-dribbble;
      }
    }

    &.-twitter {
      color: $color-blue-1;

      &::before {
        content: $icon-twitter;
      }
    }

    &.-facebook {
      color: $color-blue-2;

      &::before {
        content: $icon-facebook;
      }
    }
  }

  &-thankYouBack {
    color: $color-gray-1;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
