.Media {
  margin-bottom: 30px;
  font-size: 0;

  &-wrapper {
    max-width: 890px;
    margin-right: auto;
    margin-left: auto;

    img,
    video {
      max-width: 100%;
      height: auto;
    }
  }
}
