.PlainText {
  margin-top: 50px;
  margin-bottom: 40px;

  @media (--md-up) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &-wrapper {
    @extend %DefaultContainer;

    @media (--sm-up) {
      text-align: center;
    }
  }

  &-title {
    margin-bottom: 20px;
    color: $color-black-2;
    font-size: 26px;
    line-height: (36 / 26);

    @media (--sm-up) {
      max-width: 990px;
      margin-right: auto;
      margin-bottom: 40px;
      margin-left: auto;
      font-size: 42px;
      line-height: (50 / 42);
      letter-spacing: (.73rem / 16);
    }
  }

  &-text {
    color: $color-gray-1;
    line-height: (22 / 16);

    @media (--sm-up) {
      max-width: 675px;
      margin-right: auto;
      margin-left: auto;
      font-size: 18px;
      line-height: (25 / 18);
    }
  }
}
