.Posts {
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: $color-white-3;

  @media (--sm-up) {
    padding-top: 50px;
  }

  &-wrapper {
    @include gutters;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  &-title {
    display: block;
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 24px;
    font-weight: 700;
    line-height: (33 / 24);

    @media (--sm-up) {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: (55 / 40);
    }
  }

  &-body {
    @include offset;

    @media (--sm-up) {
      display: flex;
    }
  }

  &-item {
    @include gutters;

    margin-bottom: 40px;

    @media (--sm-up) {
      flex: 0 1 50%;
      max-width: 50%;
      margin-bottom: 90px;
    }
  }

  &-itemImage {
    margin-bottom: 15px;
    font-size: 0;

    @media (--sm-up) {
      margin-bottom: 30px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-itemImageLink {
    display: inline-block;
    width: 100%;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  &-itemTitle {
    margin-bottom: 10px;
    color: $color-black-2;
    font-size: 24px;
    line-height: (33 / 24);

    @media (--sm-up) {
      margin-bottom: 15px;
    }
  }

  &-itemTitleLink {
    color: $color-black-2;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: lighten($color-black-2, 20%);
    }
  }

  &-itemExcerpt {
    margin-bottom: 10px;
    color: $color-gray-1;
    font-weight: 500;
    line-height: (27 / 16);

    @media (--sm-up) {
      margin-bottom: 15px;
    }
  }

  &-itemLink {
    display: inline-flex;
    align-items: center;
    color: $color-black-2;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: (0.9rem / 16);
    line-height: 20px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: $color-orange;
    }

    &::after {
      content: $icon-arrow-right;
      display: inline-block;
      font-family: $icomoon-font-family;
      margin-left: 5px;
    }
  }
}
