.Single {
  padding-top: 20px;

  @media (--sm-up) {
    padding-top: 40px;
  }

  &-header {
    @include gutters;

    max-width: 800px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

    @media (--sm-up) {
      margin-bottom: 40px;
    }
  }

  &-title {
    margin-bottom: 10px;
    color: $color-black-2;
    font-size: 24px;
    line-height: (44 / 32);

    @media (--sm-up) {
      font-size: 40px;
      line-height: (68 / 50);
    }
  }

  &-date {
    display: block;
    margin-bottom: 20px;
    color: $color-gray-1;
    font-size: 16px;
    font-weight: 500;
    line-height: (27 / 18);

    @media (--sm-up) {
      margin-bottom: 25px;
    }
  }

  &-thumbnail {
    font-size: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-footer {
    @include gutters;

    max-width: 800px;
    margin: 30px auto 40px;

    @media (--sm-up) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 30px;
      margin-bottom: 60px;
    }
  }

  &-tags {
    @include list-unstyled;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-tagsItem {
    height: 24px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $color-gray-4;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: (.72rem / 16);
    line-height: 24px;
    border-radius: 15px;
  }

  &-share {
    @include list-unstyled;
    @include offset;

    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &::before {
      @include gutters;

      content: 'Share: ';
      color: $color-gray-4;
      font-size: 13px;
      font-weight: 500;
      line-height: (18 / 13);

      @media (--xs-only) {
        padding-left: 25px;
      }
    }
  }

  &-shareItem {
    @include gutters;

    font-size: 0;

    a {
      display: inline-block;

      i {
        font-size: 20px;
      }
    }

    &.-twitter {
      a {
        color: #1DA1F1;
      }
    }
    &.-pinterest {
      a {
        color: #E60122;
      }
    }
    &.-facebook {
      a {
        color: #4267B2;
      }
    }
  }
}
