.Welcome {
  padding-top: $header-height-sm + 25px;
  padding-bottom: 25px;
  background-color: $color-black-1;

  @media (--sm-up) {
    padding-top: $header-height-md + 85px;
    padding-bottom: 190px;
  }

  @media (--md-down) {
    background-image: none !important;
  }

  @media (--md-up) {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100% + 300px) 0;
  }

  @media (--lg-up) {
    background-position: calc(100% + 200px) 0;
  }

  @media (--xlg-up) {
    background-position: calc(100% + 100px) 0;
  }

  @media (--xxlg-up) {
    background-position: 100% 0;
  }

  &-wrapper {
    @extend %DefaultContainer;
  }

  &-inner {
    @media (--sm-up) {
      max-width: 670px;
    }
  }

  &-title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 26px;
    line-height: (36 / 26);
    letter-spacing: (.45rem / 16);

    @media (--sm-up) {
      margin-bottom: 30px;
      font-size: 54px;
      line-height: (66 / 54);
      letter-spacing: (.94rem / 16);
    }

    @media (--md-up) {
      margin-bottom: 35px;
    }
  }

  &-text {
    margin-bottom: 30px;
    color: $color-gray-3;
    font-size: 16px;
    line-height: (22 / 16);

    @media (--sm-up) {
      margin-bottom: 55px;
      font-size: 20px;
      line-height: (33 / 20);
    }
  }

  &-caption {
    display: block;
    margin-bottom: 10px;
    color: $color-blue;
    font-size: 12px;
    font-weight: 600;
    line-height: (16 / 12);

    @media (--sm-up) {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      line-height: (19 / 14);
    }
  }

  &-form {
    .Form-body {
      padding-top: 10px;
      padding-bottom: 20px;

      @media (--sm-up) {
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }

    .Form-title {
      font-size: 16px;
      font-weight: 500;
      line-height: (19 / 14);

      @media (--sm-up) {
        font-size: 18px;
        line-height: (25 / 18);
      }
    }

    .Form-subtitle {
      display: none;
    }

    .Form-desc {
      @media (--xs-only) {
        font-size: 13px;
        line-height: (18 / 13);
      }
    }

    div.wpcf7-response-output {
      display: none !important;
    }
  }
}
