.Page404 {
  padding-top: 75px;
  color: #fff;
  text-align: center;

  @media (--sm-up) {
    padding-top: 50px;
  }

  &-wrapper {
    @extend %DefaultContainer;
  }

  &-title {
    display: block;
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    line-height: (50 / 46);
    letter-spacing: (.8rem / 16);

    @media (--sm-up) {
      margin-bottom: 15px;
    }
  }

  &-subtitle {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: (33 / 24);

    @media (--sm-up) {
      margin-bottom: 25px;
    }
  }

  &-text {
    margin-bottom: 35px;
    color: $color-gray-3;
    line-height: (22 / 16);

    @media (--sm-up) {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: (25 / 18);
    }
  }

  &-link {
    display: inline-block;
    width: 160px;
    height: 52px;
    background-color: $color-orange;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: (.9rem / 16);
    border-radius: 6px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      background-color: lighten($color-orange, 5%);
    }
  }
}
