.Blog {
  &-item {
    @include gutters;

    margin-bottom: 55px;

    @media (--sm-up) {
      margin-bottom: 60px;
    }

    &:not(.-big) {
      max-width: 900px;
      margin-right: auto;
      margin-left: auto;

      &:first-child {
        margin-top: 55px;

        @media (--sm-up) {
          margin-top: 60px;
        }
      }
    }

    &.-big {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      @media (--xs-only) {
        background-image: none !important;
      }

      @media (--sm-up) {
        display: flex;
        align-items: center;
        min-height: 600px;
        padding-top: 50px;
        padding-bottom: 50px;

        _:-ms-input-placeholder, :root & {
          height: 600px;
          min-height: 0;
        }
      }

      &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);

        @media (--sm-up) {
          content: '';
        }
      }
    }
  }

  &-itemInner {
    @include offset;

    .Blog-item:not(.-big) & {
      @media (--sm-up) {
        display: flex;
        align-items: center;
      }
    }

    .Blog-item.-big & {
      @media (--sm-up) {
        width: 100%;
      }
    }
  }

  &-itemImage {
    @include gutters;

    margin-bottom: 15px;
    font-size: 0;

    @media (--sm-up) {
      flex-basis: 400px;
      max-width: 400px;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .Blog-item.-big & {
      @include noGutters;

      margin-bottom: 20px;

      @media (--sm-up) {
        display: none;
      }
    }
  }

  &-itemImageLink {
    display: inline-block;
    width: 100%;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  &-itemContent {
    @include gutters;

    position: relative;

    .Blog-item:not(.-big) & {

      @media (--sm-up) {
        flex: 1 1 0%;
      }
    }

    .Blog-item.-big & {
      max-width: 900px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  &-itemTitle {
    .Blog-item:not(.-big) & {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: (33 / 24);

      @media (--sm-up) {
        margin-bottom: 15px;
      }
    }

    .Blog-item.-big & {
      margin-bottom: 15px;
      font-size: 28px;
      line-height: (44 / 32);

      @media (--sm-up) {
        margin-bottom: 5px;
        font-size: 40px;
      }
    }
  }

  &-itemTitleLink {
    color: $color-black-2;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: lighten($color-black-2, 20%);
    }

    .Blog-item.-big & {
      @media (--sm-up) {
        color: #fff;
        pointer-events: none;
      }
    }
  }

  &-itemExcerpt {
    font-weight: 500;

    .Blog-item:not(.-big) & {
      margin-bottom: 10px;
      color: $color-gray-1;
      line-height: (27 / 16);

      @media (--sm-up) {
        margin-bottom: 15px;
      }
    }

    .Blog-item.-big & {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: (27 / 20);

      @media (--sm-up) {
        margin-bottom: 25px;
        color: #fff;
        font-size: 20px;
      }
    }
  }

  &-itemLink {
    display: inline-flex;
    align-items: center;
    color: $color-black-2;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: (.9rem / 16);
    transition: $transition-buttons;

    .Blog-item:not(.-big) & {
      line-height: (20 / 15);

      &::after {
        content: $icon-arrow-right;
        font-family: $icomoon-font-family;
        display: inline-block;
        margin-left: 5px;
      }

      &:hover,
      &:focus {
        color: $color-orange;
      }
    }

    .Blog-item.-big & {
      display: inline-block;
      width: 120px;
      height: 45px;
      background-color: $color-orange;
      text-align: center;
      color: #fff;
      line-height: 45px;
      border-radius: 6px;

      @media (--sm-up) {
        background-color: #fff;
        color: $color-black-2;

        &:hover,
        &:focus {
          background-color: $color-orange;
          color: #fff;
        }
      }
    }
  }

  &-pagination {
    @include gutters;

    max-width: 900px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;

    @media (--sm-up) {
      margin-bottom: 80px;
    }

    .screen-reader-text {
      display: none;
    }

    .nav-links {
      display: flex;
    }

    .page-numbers {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin-right: 10px;
      text-align: center;
      color: $color-black-1;
      font-size: 18px;
      font-weight: 500;
      line-height: 55px;
      transition: $transition-buttons;

      &:not(.current):hover,
      &:not(.current):focus {
        color: $color-orange;
      }

      &.current {
        background-color: $color-white-3;
        border-radius: 50%;
      }

      &.next,
      &.prev {
        width: auto;
      }
    }
  }
}
