.BlocksWithIcons {
  @extend %DefaultContainer;

  &-header {
    margin-bottom: 60px;
  }

  &-title {
    text-align: center;
    color: $color-black-2;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: (.73rem / 16);
    line-height: (50 / 42);
  }

  &-wrapper {
    @include offset;

    @media (--sm-up) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-item {
    margin-bottom: 40px;

    @media (--sm-up) {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 50px;
    }

    @media (--md-up) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;
    }
  }

  &-itemIcon {
    @include gutters;

    max-width: 130px;
    margin-bottom: 20px;
    font-size: 0;

    @media (--sm-up) {
      margin-bottom: 15px;
    }

    @media (--md-up) {
      flex: 0 0 130px;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-itemContent {
    @include gutters;
  }

  &-itemTitle {
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 20px;
    font-weight: 600;
    line-height: (27 / 20);

    @media (--sm-up) {
      max-width: 420px;
    }

    @media (--md-up) {
      font-size: 24px;
      font-weight: 600;
      line-height: (33 / 24);
    }
  }

  &-itemText {
    color: $color-gray-1;
    font-size: 18px;
    line-height: (25 / 18);

    @media (--sm-up) {
      max-width: 370px;
    }
  }
}
