.Form {
  @extend %WideContainer;

  margin-top: 40px;
  margin-bottom: 20px;

  @media (--md-up) {
    margin-top: 95px;
    margin-bottom: 40px;
  }

  &-wrapper {
    padding: 40px 20px;
    background-color: $color-black-1;
    text-align: center;
    border-radius: 16px;

    @media (--sm-up) {
      padding: 95px 30px;
    }
  }

  &-body {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;

    @media (--sm-up) {
      display: flex;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .Form-wrapper & {
      @media (--sm-up) {
        justify-content: center;
      }
    }

    .invalid & {
      padding-bottom: 35px;
    }

    input {
      height: 54px;
      border: none;
    }

    input[type="email"] {
      max-width: 100%;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      color: $color-black-2;
      font-size: 15px;
      border-radius: 6px;
      outline: none;

      @media (--xs-only) {
        width: 100%;
      }

      @media (--sm-up) {
        margin-bottom: 0;
        font-size: 18px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &::placeholder {
        color: $color-gray-1;
      }

      &.wpcf7-not-valid {
        border: 1px $color-red solid;
        border-right: 0;
      }

      &:focus {
        border-color: #fff;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px #fff inset !important;
        -webkit-text-fill-color: $color-black-2 !important;
      }
    }

    input[type="submit"] {
      padding-right: 30px;
      padding-left: 30px;
      background-color: $color-orange;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: (.9rem / 16);
      border-radius: 6px;
      outline: none;
      cursor: pointer;
      transition: $transition-buttons;

      @media (--sm-up) {
        font-size: 18px;
        letter-spacing: (1.08rem / 16);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover,
      &:focus {
        background-color: $color-orange-1;
        outline: none;
      }
    }

    .ajax-loader {
      display: none !important;
    }

    .wpcf7-form-control-wrap {
      display: block;
    }

    span.wpcf7-not-valid-tip {
      width: 100%;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      text-align: left;
      color: $color-red;
      font-size: 15px;
    }
  }

  &-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: (20 / 15);

    @media (--sm-up) {
      font-size: 24px;
      line-height: (33 / 24);
    }
  }

  &-subtitle {
    margin-top: 10px;
    color: $color-gray-3;
    line-height: (22 / 16);

    @media (--xs-only) {
      font-size: 14px;
    }
  }

  &-desc {
    color: $color-gray-3;
    font-size: 14px;
    line-height: (19 / 14);

    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  div.wpcf7-response-output {
    display: none !important;
  }
}
