.Important {
  max-width: 1000px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  @media (--sm-up) {
    @include gutters;
  }

  &-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $color-white-3;
  }

  &-inner {
    @include gutters;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

    @media (--sm-up) {
      display: flex;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0C114.613 0 0 114.617 0 256c0 141.391 114.613 256 256 256s256-114.609 256-256C512 114.617 397.387 0 256 0zm0 384c-17.674 0-32-14.32-32-32 0-17.672 14.326-32 32-32s32 14.328 32 32c0 17.68-14.326 32-32 32zm32-112h-64l-16-128c0-8.836 7.164-16 16-16h64c8.836 0 16 7.164 16 16l-16 128z'/%3E%3C/svg%3E");
      display: inline-block;
      width: 40px;
      margin-bottom: 10px;
      font-size: 0;

      @media (--sm-up) {
        flex: 0 0 60px;
        margin-bottom: 0;
      }
    }
  }

  &-body {
    color: $color-black-2;
    font-size: 18px;
    font-weight: 500;
    line-height: (30 / 18);

    @media (--sm-up) {
      padding-left: 40px;
    }
  }
}
