.NoResults {
  @extend %DefaultContainer;

  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  @media (--sm-up) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &-title {
    display: block;
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 30px;
    font-weight: 700;
    line-height: (41 / 30);
  }

  &-query {
    display: block;
    margin-bottom: 15px;
    color: $color-black-2;
    font-size: 30px;
    font-style: italic;
    line-height: 41px;

    &::before,
    &::after {
      content: '"';
    }
  }

  &-back {
    display: inline-block;
    color: $color-orange;
    font-size: 18px;
    line-height: 30px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      color: $color-orange-1;
    }
  }
}
