.TextWithMedia {
  @extend %WideContainer;

  margin-top: 20px;
  margin-bottom: 50px;

  @media (--xs-only) {
    @include noGutters;
  }

  @media (--sm-up) {
    margin-top: 50px;
  }

  @media (--md-up) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &-wrapper {
    @include gutters;

    @media (--sm-up) {
      display: flex;
      align-items: center;
    }

    @media (--md-up) {
      min-height: 460px;
      padding-right: (32.5rem / 16);
      padding-left: (32.5rem / 16);
    }

    .TextWithMedia.-grey & {
      background-color: $color-white-1;

      @media (--sm-up) {
        border-radius: 16px;
      }

      @media (--md-up) {
        padding-right: (32.5rem / 16);
        padding-left: (32.5rem / 16);
      }
    }
  }

  &-content {
    margin-bottom: 30px;

    @media (--sm-up) {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 0;
      padding: 60px 15px;
    }

    @media (--md-up) {
      padding: 60px (32.5rem / 16);
    }

    .TextWithMedia.-grey & {
      padding-top: 20px;

      @media (--sm-up) {
        padding-top: 40px;
      }

      @media (--md-up) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .TextWithMedia.-mediaLeft & {
      @media (--sm-up) {
        order: 2;
      }
    }
  }

  &-contentTitle {
    margin-bottom: 20px;
    color: $color-black-2;
    font-size: 26px;
    line-height: (36 / 26);

    @media (--sm-up) {
      font-size: 28px;
      line-height: (38 / 28);
      letter-spacing: (.49rem / 16);
    }

    @media (--md-up) {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: (50 / 42);
      letter-spacing: (.73rem / 16);
    }
  }

  &-contentText {
    color: $color-black-2;
    font-size: 18px;
    line-height: (25 / 18);
  }

  &-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;

    @media (--sm-up) {
      @include offset;

      justify-content: flex-start;
      margin-top: 40px;
    }

    @media (--md-up) {
      margin-top: 60px;
    }
  }

  &-logosItem {
    height: 26px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0;

    @media (--sm-up) {
      height: 40px;
      padding-right: 15px;
      padding-left: 15px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &-media {
    font-size: 0;

    @media (--sm-up) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media (--md-up) {
      padding-right: (32.5rem / 16);
      padding-left: (32.5rem / 16);
    }

    .TextWithMedia.-mediaLeft & {
      @media (--sm-up) {
        order: 1;
      }
    }

    .TextWithMedia.-grey & {
      @media (--sm-up) {
        margin-top: -60px;
        margin-bottom: -60px;
      }
    }
  }

  &-mediaBody {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
