.ThankYou {
  padding-top: 55px;
  text-align: center;
  color: #fff;

  &-wrapper {
    @extend %DefaultContainer;
  }

  &-icon {
    display: block;
    margin-bottom: 40px;
    font-size: 0;

    &::before {
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='80px' height='73px' viewBox='0 0 80 73' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3EF1D9C4B1-3A05-4F0E-A23F-F572B3D3A70A%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Thank-You-Page' transform='translate(-681.000000, -143.000000)' fill-rule='nonzero'%3E%3Cg id='email' transform='translate(681.000000, 143.000000)'%3E%3Cpath d='M67.9464728,23.9051695 L55.5355817,14.8073034 C55.1690903,14.5386551 36.5329517,0.877355488 36.0318688,0.510010628 C35.1228342,-0.156230709 33.8912438,-0.156230709 32.9822092,0.510010628 C29.5454827,3.02950367 5.20498144,20.8722356 1.0676052,23.9051695 C0.396813119,24.3967817 0,25.182301 0,26.018182 L0,70.0351708 C0,71.4782 1.16058168,72.6479033 2.59235767,72.6479033 L66.4215656,72.6479033 C67.8531869,72.6479033 69.0139233,71.4782 69.0139233,70.0351708 L69.0139233,26.018182 C69.0139233,25.182301 68.6171101,24.3967817 67.9464728,23.9051695 Z' id='Path' fill='%23999EA8'%3E%3C/path%3E%3Cpath d='M33.2083849,47.1060534 L2.59235767,72.6479033 L66.4214109,72.6479033 L35.8055384,47.1060534 C35.0521349,46.4773886 33.9617884,46.4773886 33.2083849,47.1060534 Z' id='Path' fill='%23DADCE0'%3E%3C/path%3E%3Cg id='Group' transform='translate(0.000000, 25.882533)'%3E%3Cpath d='M3.76144802,45.7900982 L2.59235767,46.7653707 L5.77908416,46.7653707 C4.96318069,46.7650589 4.23638614,46.3841491 3.76144802,45.7900982 Z' id='Path' fill='%236487FF'%3E%3C/path%3E%3Cpath d='M36.7943998,22.0483317 L66.4215656,46.7653707 C67.8533416,46.7653707 69.0139233,45.5955114 69.0139233,44.1526382 L69.0139233,0.135493499 L36.7943998,22.0483317 Z' id='Path' fill='%23C2C5CC'%3E%3C/path%3E%3Cpath d='M0,0.135493499 L0,44.1524823 C0,45.5955114 1.16073639,46.7652148 2.59235767,46.7652148 L32.2195235,22.0481757 L0,0.135493499 Z' id='Path' fill='%23C2C5CC'%3E%3C/path%3E%3C/g%3E%3Cpath d='M46.7221535,20.2159731 C46.7221535,15.1835356 48.977104,10.6834051 52.5222772,7.68040768 L12.8668007,7.68040768 C11.757271,7.68040768 10.857828,8.58691999 10.857828,9.70501422 L10.857828,33.4026557 L32.2195235,47.9310202 L33.2083849,47.1060534 C33.9617884,46.4773886 35.0521349,46.4773886 35.8056931,47.1060534 L36.7943998,47.9310202 L55.880724,34.9501505 C50.4597772,32.2976587 46.7221535,26.6970528 46.7221535,20.2159731 Z' id='Path' fill='%23FFFFFF'%3E%3C/path%3E%3Cg id='Group' transform='translate(17.945545, 18.866183)' fill='%23DADCE0'%3E%3Cpath d='M28.7766089,2.55441887 L1.24829827,2.55441887 C0.588180693,2.55441887 0.0529084158,2.01509549 0.0529084158,1.34963375 C0.0529084158,0.684172007 0.58802599,0.144848631 1.24829827,0.144848631 L28.7764542,0.144848631 C29.4365718,0.144848631 29.9718441,0.684172007 29.9718441,1.34963375 C29.9718441,2.01509549 29.4367265,2.55441887 28.7766089,2.55441887 Z' id='Path'%3E%3C/path%3E%3Cpath d='M30.179146,9.21698815 L1.24829827,9.21698815 C0.588180693,9.21698815 0.0529084158,8.67766478 0.0529084158,8.01220303 C0.0529084158,7.34674129 0.58802599,6.80741792 1.24829827,6.80741792 L30.1789913,6.80741792 C30.8391089,6.80741792 31.3743812,7.34674129 31.3743812,8.01220303 C31.3743812,8.67766478 30.8392636,9.21698815 30.179146,9.21698815 Z' id='Path'%3E%3C/path%3E%3Cpath d='M32.3072401,15.8795574 L1.24829827,15.8795574 C0.588180693,15.8795574 0.0529084158,15.3402341 0.0529084158,14.6747723 C0.0529084158,14.0093106 0.58802599,13.4699872 1.24829827,13.4699872 L32.3070854,13.4699872 C32.967203,13.4699872 33.5024752,14.0093106 33.5024752,14.6747723 C33.5024752,15.3402341 32.9673577,15.8795574 32.3072401,15.8795574 Z' id='Path'%3E%3C/path%3E%3Cpolygon id='Path' points='31.9823639 20.1325565 1.140625 20.1325565 4.68332302 22.5421267 28.4395111 22.5421267'%3E%3C/polygon%3E%3C/g%3E%3Cg id='Group-2' transform='translate(46.661510, 3.815491)'%3E%3Cellipse id='Oval' fill='%236487FF' cx='16.2732054' cy='16.4011061' rx='16.2732054' ry='16.4011061'%3E%3C/ellipse%3E%3Cpath d='M14.065042,21.6536139 L10.1318508,17.9271416 C9.31729753,17.155323 9.29336671,15.8806144 10.0785562,15.0799321 C10.863875,14.2789955 12.1606665,14.2558537 12.9752197,15.0275451 L15.3512264,17.2786614 L20.1639075,11.8056158 C20.9038224,10.9643718 22.1975094,10.8715501 23.0533271,11.5989923 C23.9094035,12.3261801 24.0034452,13.597837 23.2636596,14.4392083 L17.0367319,21.5206119 C16.2695229,22.3928813 14.9124516,22.4563306 14.065042,21.6536139 Z' id='Path' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      display: inline-block;
    }
  }

  &-title {
    display: block;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 600;
    line-height: (27 / 20);
  }

  &-text {
    margin-bottom: 35px;
    color: $color-gray-3;
    line-height: (22 / 16);

    @media (--sm-up) {
      font-size: 18px;
      line-height: (25 / 18);
    }
  }

  &-link {
    display: inline-block;
    width: 160px;
    height: 52px;
    background-color: $color-orange;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: (.9rem / 16);
    border-radius: 6px;
    transition: $transition-buttons;

    &:hover,
    &:focus {
      background-color: lighten($color-orange, 5%);
    }
  }
}
